@font-face {
   font-family: 'GERALDINE PERSONAL USE';
   font-display: swap;
   src: url('file:///C:/Users/Jc%20Hernandez/AppData/Local/Mobirise.com/Mobirise/projects/project-2024-12-04_212701/fonts/GERALDINE%20PERSONAL%20USE/font.ttf');
}
